doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles

  body
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery.min.js")
    script(src="/js/bootstrap/bootstrap.min.js")
    // SCRIPTS END

    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap-theme.css")
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END